/* src/style.css */

/* Reset simple */
* { box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; }

/* L'app doit occuper tout l'écran */
#app {
    min-height: 100vh;
    width: 100%;
}
